/* ******************************************
    Header Bar
****************************************** */
header.container {
    background: $header-bar-color;
    color: #686e76;
}

/* ******************************************
    Main Content Area
****************************************** */
main {
    .container.hero {
        background: #6ca6b5;

        div.form-post {
            background: rgba( 0, 178, 134, .7 );
            margin: 0 auto;
            max-width: 35.9375em; /* 575px */
            padding: 2em; /* 32px */
        }
    }

    .container.body {
        background: #fff;

        .wrapper {
            margin: 0 auto;
            max-width: 35.9375em; /* 575px */
        }
    }
}

/* ******************************************
    Page Footer
****************************************** */
footer.container {
    background: #fff;
    border-top: 2px solid #e6e9ec;
    padding-bottom: 2em;
    padding-top: 2em;

    .wrapper {
        margin: 0 auto;
        text-align: center;

        ul,
        li,
        p {
            display: inline-block;
        }

        li {
            margin-right: 1.5em; /* 24px */

            a {
                display: block;
                padding: .5em 0; /* Make links easier to tap */
            }
        }
    }
}
