/* ******************************************
    Header Bar
****************************************** */
header.container {
    background: $header-bar-color;
    color: #686e76;
    position: relative;
    z-index: 20;

    a.logo {
        background-image: url( '../img/logo-simply-social.png' );
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;
        height: 25px;
        text-indent: -9999px;
        width: 138px;
    }

    section.actions {
        display: inline-block;
        float: right;
        position: relative;

        a.new,
        #form-search,
        input.search,
        img.avatar {
            display: inline-block;
        }

        a.new {
            background: transparent url( '../img/icon-new-post.png' ) no-repeat;
            background-size: contain;
            border: 0;
            cursor: pointer;
            height: 26px;
            margin-right: 1em;
            text-indent: -9999px;
            width: 31px;

            @include medium {
                margin-right: 1.5em;
            }
        }

        input.search {
            background: $header-bar-color url( '../img/icon-search.png' ) no-repeat;
            background-position: 50% 50%;
            background-size: 16px 16px;
            border: 1px solid rgba( 255, 255, 255, .2 );
            border-radius: 4px;
            padding: .5em 1.875em .5em .5em;
            width: 3em;

            &:hover {
                border-color: rgba( 255, 255, 255, .5 );
            }

            // Show larger search box when selected on mobile
            &:focus {
                background-position: 95% 50%;
                border: 1px solid $teal;
                outline: none;
                position: absolute;
                right: 0;
                top: 0;
                width: 40vw;
                z-index: 20;
            }

            @include medium {
                background-position: 95% 50%;
                width: 16.6667em;

                &:focus {
                    position: relative;
                    width: 16.6667em;
                }
            }
        }

        .toggle-input {
            display: none;

            &:checked {
                // Show profile menu when checkbox is checked
                ~ .profile-menu {
                    display: block;
                }

                // Flip arrow to indicate menu hide click
                ~ label:before {
                    -moz-transform: scaleY(-1);
                    -o-transform: scaleY(-1);
                    -webkit-transform: scaleY(-1);
                    -ms-transform: scaleY(-1);
                    transform: scaleY(-1);
                    -ms-filter: "FlipV";
                    filter: FlipV;
                }
            }
        }

        // Style label as button
        .toggle-label {
            cursor: pointer;

            img.avatar {
                border-radius: 4px;
                float: right;
                height: 30px;
                margin-left: 1em;
                width: 30px;

                @include medium {
                    margin-left: 1.5em;
                }
            }

            &:before {
                background: transparent url( '../img/icon-arrow.png' ) no-repeat;
                background-position: 100% 50%;
                background-size: 7px 4px;
                content: "\00a0";
                display: inline-block;
                float: right;
                height: 1.875em;
                width: 1.125em;
            }
        }

        ul.profile-menu {
            background: #f4f5f7;
            border-radius: 4px;
            display: none;
            position: absolute;
            right: -1em;
            top: 2.5em;
            width: 6.25em;

            li {
                a {
                    border-bottom: 1px solid #dee1e5;
                    color: #70767f;
                    display: block;
                    padding: 0 1.25em;
                    text-decoration: none;

                    &:hover {
                        background: rgba( 255, 255, 255, 1 );
                    }
                }

                &:first-child a {
                    &:hover {
                        border-top-left-radius: 4px;
                        border-top-right-radius: 4px;
                    }
                }

                &:last-child a {
                    border: 0;

                    &:hover {
                        border-bottom-left-radius: 4px;
                        border-bottom-right-radius: 4px;
                    }
                }
            }
        }
    } // .actions
} // header.container

/* ******************************************
    Main Content Area
****************************************** */
main {
    .container.hero {
        // background: #6ca6b5 url( '../img/hero-vw-bus.jpg' ) no-repeat 50% 15%;
        background: #6ca6b5;
        background-size: cover;
        padding-top: 3.5em;
        padding-bottom: 3.5em;
        position: relative;

        @include medium {
            padding-top: 7.5em;
            padding-bottom: 7.5em;
        }

        // Hero background image
        img.bg {
            -webkit-filter: blur( 10px );
            filter: blur( 10px );
            left: 0;
            position: absolute;
            top: 0;
            z-index: 5;
        }

        // New Post input box
        div.new-post {
            background: rgba( 0, 178, 134, .7 );
            margin: 0 auto;
            max-width: 35.9375em; // 575px
            padding: 2em; // 32px
            position: relative;
            z-index: 15;

            input {
                background: transparent;
                border: 0;
                display: block;
                margin-bottom: .6em; /* 18px */
                padding: 0;
                width: 100%;

                &:focus {
                    outline: none;
                }
            }

            button {
                background: transparent;
                background-position: 0 50%;
                background-repeat: no-repeat;
                background-size: 18px 13px;
                border: 0;
                cursor: pointer;
                padding: 0 0 0 1.8571em; // 26px

                &.add-photo {
                    background-image: url( '../img/icon-camera.png' );
                    margin-right: 1.4286em; // 20px

                    @include medium {
                        margin-right: 2.8571em; // 40px
                    }
                }

                &.add-video {
                    background-image: url( '../img/icon-video.png' );
                }
            }

            &:target {
                background: rgba( 0, 178, 134, 1 );
                pointer-events: auto;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
            }
        } // END .new-post

        // Profile page header
        div.profile-info {
            margin: 0 auto;
            max-width: 35.9375em; // 575px
            position: relative;
            text-align: center;
            z-index: 15;

            img {
                border-radius: 4px;
                height: 90px;
                width: 90px;
            }

            h4 {
                margin-bottom: .25em;
            }
        }
    }

    .container.body {
        background: #fff;
        padding-top: 0;
        position: relative;
        z-index: 15;

        .wrapper {
            margin: 0 auto;
            max-width: 37.4375em; // 599px, 575 max width + gutters
        }

        header.wrapper {
            // margin-top: -2.875em;
            position: relative;

            ul,
            li {
                display: inline-block;
            }

            ul {
                li {
                    margin-right: 1em;

                    @include medium {
                        margin-right: 2.5em;
                    }

                    a {
                        display: block;
                    }

                    &.selected {
                        border-bottom: .25em solid $teal;
                    }

                    &:hover {
                        border-bottom: .25em solid $teal;
                    }

                    &:last-child {
                        margin-right: 0;
                    }
                }

                &.filters,
                &.views {
                    position: absolute;
                    top: -2.875em; // Pull filter and view options up to hero image area
                }

                &.views {
                    right: .5em;

                    li {
                        margin: 0;

                        &.selected,
                        &:hover {
                            border-bottom: 0;
                        }

                        &.list a {
                            background-image: url( '../img/icon-list.svg' );
                        }

                        &.grid a {
                            background-image: url( '../img/icon-tile.svg' );
                        }

                        a {
                            background-position: 50% 50%;
                            background-repeat: no-repeat;
                            background-size: .6429em .6429em; // 9px
                            display: block;
                            height: 2.875em; // 46px
                            text-indent: -9999px;
                            width: 1.25em; // 20px
                        }
                    }
                }
            } // END ul
        } // END header.wrapper

        div.posts {
            padding-top: 1.5em; // 24px

            @include medium {
                padding-top: 3.125em; // 50px
            }

            article.wrapper {
                margin-bottom: 1.5em;
                position: relative;

                .panel {
                    border: 1px solid #dee1e5;
                    border-radius: 4px;

                    .post,
                    .comments {
                        position: relative;
                    }

                    header {
                        img {
                            border-radius: 4px;
                            height: 40px;
                            left: 1.5em;
                            position: absolute;
                            width: 40px;
                        }

                        h3 {
                            display: inline-block;
                            margin-bottom: .75em;
                            vertical-align: top;
                        }

                        ul,
                        li {
                            display: inline-block;
                        }

                        ul {
                            float: right;

                            li {
                                margin-left: .75em;
                                vertical-align: top;

                                @include medium {
                                    margin-left: 1.25em;
                                }

                                &.timestamp {
                                    vertical-align: text-top;
                                }
                            }
                        }

                        button {
                            background-color: transparent;
                            background-repeat: no-repeat;
                            background-size: 13px 13px;
                            border: 0;
                            cursor: pointer;
                            height: 13px;
                            padding: .1875em;
                            text-indent: -9999px;
                            width: 13px;

                            &.reply {
                                background-image: url( '../img/icon-reply.png' );
                            }

                            &.like {
                                background-image: url( '../img/icon-like.png' );
                            }
                        }
                    } // END header

                    .post header {
                        padding: 1.5em 1.5em 1.5em 5.25em; // 84px left indent
                    }

                    .post .content {
                        margin-top: -1.5em;

                        p {
                            padding: 0 1.5em 1.5em 5.6em; // 84px left indent
                        }
                    }

                    .comments {
                        background: #f4f5f7;
                        display: none;

                        .comment {
                            border-top: 1px solid #dee1e5;
                            padding: 1.5em 1.5em 1.5em 5.25em; // 84px left indent
                        }

                        .respond {
                            border-top: 1px solid #dee1e5;
                            padding: 1.5em;

                            input {
                                border: 1px solid #dee1e5;
                                border-radius: 4px;
                                outline: none;
                                padding: .8125em;
                                width: 100%;

                                &:hover {
                                    border-color: #AAA;
                                }

                                &:focus {
                                    border-color: $teal;
                                }
                            }
                        } // END .respond
                    } // END .comments

                    // Hide checkbox input
                    .toggle-input {
                        display: none;

                        &:checked {
                            // Show comments when checkbox is checked
                            ~ .comments {
                                display: block;
                            }

                            // Change label to "Collapse" when comments are shown
                            ~ label:before {
                                content: "Collapse";
                            }

                            // Flip arrow to indicate collapsing comments
                            ~ label:after {
                                -moz-transform: scaleY(-1);
                                -o-transform: scaleY(-1);
                                -webkit-transform: scaleY(-1);
                                -ms-transform: scaleY(-1);
                                transform: scaleY(-1);
                                -ms-filter: "FlipV";
                                filter: FlipV;
                            }
                        }
                    }

                    // Style label as button
                    .toggle-label {
                        border: 0;
                        cursor: pointer;
                        display: block;
                        margin: 0 1.25em 1em 7em; // 84px left margin
                        padding: .5em 0;
                        text-align: left;
                        user-select: none;
                        width: 5em;

                        &:before {
                            content: "Expand";
                        }

                        &:after {
                            background: transparent url( '../img/icon-arrow.png' ) no-repeat;
                            background-position: 100% 50%;
                            background-size: 7px 4px;
                            content: "\00a0";
                            display: inline-block;
                            width: 10px;
                        }
                    }
                } // END .panel

                &.media {
                    .content {
                        p {
                            padding: 0 1.5em 1.5em 5.25em;
                        }

                        img.photo {
                            border-bottom-left-radius: 4px;
                            border-bottom-right-radius: 4px;
                            margin-bottom: -6px; // Fix issue with space under image
                        }
                    }
                } // END &.media
            } // END article.wrapper
        } // END div.posts

        footer.wrapper {
            margin: 3.75em auto 7.75em;
            text-align: center;

            button.load {
                background: transparent;
                border: 0;
                cursor: pointer;
            }
        }
    } /* END .container.body */
} /* END main */

/* ******************************************
    Page Footer
****************************************** */
footer.container {
    background: #fff;
    border-top: 2px solid #e6e9ec;
    padding-bottom: 2em;
    padding-top: 2em;

    .wrapper {
        margin: 0 auto;
        text-align: center;

        ul,
        li,
        p {
            display: inline-block;
        }

        li {
            margin-right: 1.5em; /* 24px */

            a {
                display: block;
                padding: .5em 0; /* Make links easier to tap */
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    } // END .wrapper

    a.close {
        display: block;
    }

    .modal {
        background: rgba( 0, 0, 0, 0.8 );
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        z-index: -1;

        > article {
            background: #dee1e6;
            border-radius: 4px;
            cursor: default;
            margin: 20vh auto;
            padding: 1em 2em;
            position: relative;
            width: 80vw;
            z-index: 30;

            @include medium {
                width: 50vw;
            }

            h3 {
                margin-bottom: 1em;
            }

            textarea {
                border: 0;
                height: 4em;
                margin-bottom: .3em;
                padding: .25em;
                width: 100%;
            }

            button {
                background: transparent;
                background-position: 0 50%;
                background-repeat: no-repeat;
                background-size: 18px 13px;
                border: 0;
                cursor: pointer;
                height: 2.7143em; // 38px to match submit button
                padding: 0 0 0 1.8571em; // 26px

                &.add-photo {
                    background-image: url( '../img/icon-camera-grey.png' );
                    margin-right: 1.4286em; // 20px

                    @include medium {
                        margin-right: 2.8571em; // 40px
                    }
                }

                &.add-video {
                    background-image: url( '../img/icon-video-grey.png' );
                }
            }

            input[type="submit"] {
                background: #1bb087;
                border: 0;
                border-radius: 4px;
                float: right;
                cursor: pointer;
                padding: .85em 1.75em;
            }

            a.close {
                position: absolute;
                top: -25px;
                right: -25px;

                img {
                    height: 21px;
                    width: 21px;
                }
            }
        }

        &:target {
            opacity: 1;
            pointer-events: auto;
            z-index: 20;
        }
    } // END .modal
}

/* ******************************************
    Page Specific Styles
****************************************** */
body.profile-page {
    ul.filters {
        text-align: center;
        width: 100%;
    }
}
