/* ******************************************
    Header Bar
****************************************** */
header.container {
    background: $header-bar-color;
    color: #686e76;

    a.logo {
        background-image: url( '../img/logo-simply-social.png' );
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;
        height: 25px;
        text-indent: -9999px;
        width: 138px;
    }

    section.actions {
        display: inline-block;
        float: right;

        button.new,
        #form-search,
        input.search,
        img.avatar {
            display: inline-block;
        }

        button.new {
            background: transparent url( '../img/icon-new-post.png' ) no-repeat;
            background-size: contain;
            border: 0;
            cursor: pointer;
            height: 26px;
            margin-right: 1.5em;
            text-indent: -9999px;
            width: 31px;
        }

        input.search {
            background: transparent url( '../img/icon-search.png' ) no-repeat 95% 50%;
            background-size: 16px 16px;
            border: 1px solid rgba( 255, 255, 255, .2 );
            border-radius: 4px;
            padding: .5em 30px .5em .5em;
        }

        img.avatar {
            border-radius: 4px;
            float: right;
            height: 30px;
            margin-left: 1.5em;
            width: 30px;
        }

        ul.profile {
            display: none;
            position: absolute;
            right: 2em;
            top: 2em;
        }
    }
}

/* ******************************************
    Main Content Area
****************************************** */
main {
    .container.hero {
        background: #6ca6b5;
        padding-top: 7.5em;
        padding-bottom: 7.5em;

        /* New Post input box */
        div.new-post {
            background: rgba( 0, 178, 134, .7 );
            margin: 0 auto;
            max-width: 35.9375em; /* 575px */
            padding: 2em; /* 32px */

            input {
                background: transparent;
                border: 0;
                display: block;
                margin-bottom: .6em; /* 18px */
                padding: 0;
                width: 100%;
            }

            button {
                background: transparent;
                border: 0;
                cursor: pointer;
            }
        }
    }

    .container.body {
        background: #fff;

        .wrapper {
            margin: 0 auto;
            max-width: 35.9375em; /* 575px */
        }
    }
}

/* ******************************************
    Page Footer
****************************************** */
footer.container {
    background: #fff;
    border-top: 2px solid #e6e9ec;
    padding-bottom: 2em;
    padding-top: 2em;

    .wrapper {
        margin: 0 auto;
        text-align: center;

        ul,
        li,
        p {
            display: inline-block;
        }

        li {
            margin-right: 1.5em; /* 24px */

            a {
                display: block;
                padding: .5em 0; /* Make links easier to tap */
            }
        }
    }
}
