/* ******************************************
    Header Bar
****************************************** */
header.container {
    background: $header-bar-color;
    color: #686e76;
    position: relative;
    z-index: 20;

    a.logo {
        background-image: url( '../img/logo-simply-social.png' );
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;
        height: 25px;
        text-indent: -9999px;
        width: 138px;
    }

    section.actions {
        display: inline-block;
        float: right;

        button.new,
        #form-search,
        input.search,
        img.avatar {
            display: inline-block;
        }

        button.new {
            background: transparent url( '../img/icon-new-post.png' ) no-repeat;
            background-size: contain;
            border: 0;
            cursor: pointer;
            height: 26px;
            margin-right: 1.5em;
            text-indent: -9999px;
            width: 31px;
        }

        input.search {
            background: transparent url( '../img/icon-search.png' ) no-repeat 95% 50%;
            background-size: 16px 16px;
            border: 1px solid rgba( 255, 255, 255, .2 );
            border-radius: 4px;
            padding: .5em 30px .5em .5em;

            &:focus {
                border: 1px solid rgba( 255, 255, 255, .8 );
                outline: none;
            }
        }

        img.avatar {
            border-radius: 4px;
            float: right;
            height: 30px;
            margin-left: 1.5em;
            width: 30px;
        }

        ul.profile {
            display: none;
            position: absolute;
            right: 2em;
            top: 2em;
        }
    }
}

/* ******************************************
    Main Content Area
****************************************** */
main {
    .container.hero {
        // background: #6ca6b5 url( '../img/hero-vw-bus.jpg' ) no-repeat 50% 15%;
        background: #6ca6b5;
        background-size: cover;
        padding-top: 7.5em;
        padding-bottom: 7.5em;
        position: relative;

        // Hero background image
        img {
            -webkit-filter: blur( 10px );
            filter: blur( 10px );
            left: 0;
            position: absolute;
            top: 0;
            z-index: 5;
        }

        /* New Post input box */
        div.new-post {
            background: rgba( 0, 178, 134, .7 );
            margin: 0 auto;
            max-width: 35.9375em; /* 575px */
            padding: 2em; /* 32px */
            position: relative;
            z-index: 15;

            input {
                background: transparent;
                border: 0;
                display: block;
                margin-bottom: .6em; /* 18px */
                padding: 0;
                width: 100%;

                &:focus {
                    outline: none;
                }
            }

            button {
                background: transparent;
                background-position: 0 50%;
                background-repeat: no-repeat;
                background-size: 18px 13px;
                border: 0;
                cursor: pointer;
                padding: 0 0 0 1.8571em; // 26px

                &.add-photo {
                    background-image: url( '../img/icon-camera.png' );
                    margin-right: 2.8571em; // 40px
                }

                &.add-video {
                    background-image: url( '../img/icon-video.png' );
                }
            }
        }
    }

    .container.body {
        background: #fff;
        padding-top: 0;
        position: relative;
        z-index: 15;

        .wrapper {
            margin: 0 auto;
            max-width: 37.4375em; // 599px, 575 max width + gutters
        }

        header.wrapper {
            // margin-top: -2.875em;
            position: relative;

            ul,
            li {
                display: inline-block;
            }

            ul {
                li {
                    margin-right: 2.5em;

                    a {
                        display: block;
                    }

                    &.selected {
                        border-bottom: .25em solid $teal;
                    }

                    &:hover {
                        border-bottom: .25em solid $teal;
                    }
                }

                &.filters,
                &.views {
                    position: absolute;
                    top: -2.875em; // Pull filter and view options up to hero image area
                }

                &.filters {
                }

                &.views {
                    right: 0;

                    li {
                        margin: 0;

                        &.selected,
                        &:hover {
                            border-bottom: 0;
                        }

                        &.list a {
                            background-image: url( '../img/icon-list.svg' );
                        }

                        &.grid a {
                            background-image: url( '../img/icon-tile.svg' );
                        }

                        a {
                            background-position: 50% 50%;
                            background-repeat: no-repeat;
                            background-size: .5625em .5625em;
                            display: block;
                            height: 2.875em; // 46px
                            text-indent: -9999px;
                            width: 2.875em; // 46px
                        }
                    }
                }
            }
        }

        div.posts {
            padding-top: 3.125em; // 50px

            article.wrapper {
                margin-bottom: 1.5em;
                position: relative;

                .panel {
                    border: 1px solid #dee1e5;
                    border-radius: 4px;
                }

                header {
                    img {
                        border-radius: 4px;
                        height: 40px;
                        left: 1.5em;
                        position: absolute;
                        width: 40px;
                    }

                    h3 {
                        display: inline-block;
                        margin-bottom: .75em;
                        vertical-align: top;
                    }

                    ul,
                    li {
                        display: inline-block;
                    }

                    ul {
                        float: right;

                        li {
                            margin-left: 1.25em;
                            vertical-align: top;

                            &.timestamp {
                                vertical-align: text-top;
                            }
                        }
                    }

                    button {
                        background-color: transparent;
                        background-repeat: no-repeat;
                        background-size: 13px 13px;
                        border: 0;
                        cursor: pointer;
                        height: 13px;
                        padding: .1875em;
                        text-indent: -9999px;
                        width: 13px;

                        &.reply {
                            background-image: url( '../img/icon-reply.png' );
                        }

                        &.like {
                            background-image: url( '../img/icon-like.png' );
                        }
                    }
                } // END header

                .post,
                .comments {
                    position: relative;
                }

                .post {
                    padding: 1.5em 1.5em 1.5em 5.25em;
                }

                .comments {
                    background: #f4f5f7;

                    .comment {
                        border-top: 1px solid #dee1e5;
                        padding: 1.5em 1.5em 1.5em 5.25em;
                    }

                    .respond {
                        border-top: 1px solid #dee1e5;
                        padding: 1.5em;

                        input {
                            border: 1px solid #dee1e5;
                            border-radius: 4px;
                            font-size: .875em; // 14px
                            font-weight: 300;
                            padding: .8125em;
                            width: 100%;
                        }
                    }
                } // END .comments

                footer {
                    margin-top: .75em;

                    button.toggle {
                        background: transparent url( '../img/icon-arrow.png' ) no-repeat;
                        background-position: 100% 50%;
                        background-size: 7px 4px;
                        border: 0;
                        cursor: pointer;
                        outline: none;
                        padding: .5em 0;
                        text-align: left;
                        width: 5em;
                    }
                } // END footer

                &.media {
                    .content {
                        p {
                            margin-bottom: 20.9375em;
                        }

                        img.photo {
                            border-bottom-left-radius: 4px;
                            border-bottom-right-radius: 4px;
                            bottom: 0;
                            left: 0;
                            position: absolute;
                        }
                    }
                } // END &.media

                // &:first-of-type {
                //     margin-top: 3.125em; // 50px
                // }
            } // END article.wrapper
        } // END div.posts

        footer.wrapper {
            margin: 3.75em auto 7.75em;
            text-align: center;

            button.load {
                background: transparent;
                border: 0;
                cursor: pointer;
            }
        }
    } /* END .container.body */
} /* END main */

/* ******************************************
    Page Footer
****************************************** */
footer.container {
    background: #fff;
    border-top: 2px solid #e6e9ec;
    padding-bottom: 2em;
    padding-top: 2em;

    .wrapper {
        margin: 0 auto;
        text-align: center;

        ul,
        li,
        p {
            display: inline-block;
        }

        li {
            margin-right: 1.5em; /* 24px */

            a {
                display: block;
                padding: .5em 0; /* Make links easier to tap */
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
