// Global variables accessible by CSS and HTML
$teal: #00B286;
$teal-rgb: '0, 178, 134';
$light-grey: #bec3cc;

$header-bar-color: #262728;

$font-primary: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
