header.container {
    input.search {
        color: #666;
        font-family: $font-primary;
        font-size: 12px;
    }
}

/* ******************************************
    Page Footer
****************************************** */
footer.container {
    color: #70767f;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;

    a,
    a:visited {
        color: $teal;
    }
}
