header.container {
    input.search {
        color: #999;
        font-family: $font-primary;
        font-size: 12px;
    }
}

main {
    .container.hero {
        // Style placeholder text for New Post box input
        input::-webkit-input-placeholder { // Chrome, Opera and Safari
            color: #fff;
            opacity: .5;
        }

        input::-moz-placeholder { // Firefox 19+
            color: #fff;
            opacity: .5;
        }

        input:-ms-input-placeholder { // IE 10+
            color: #fff;
            opacity: .5;
        }

        input:-moz-placeholder { // Firefox 18-
            color: #fff;
            opacity: .5;
        }

        div.new-post {
            input {
                color: #fff;
                font-family: $font-primary;
                font-size: 1.5em; // 24px
                font-weight: 200;

                @include medium {
                    font-size: 1.875em; // 30px
                }
            }

            button {
                // color: rgba( 255, 255, 255, .5 );
                color: #fff;
                font-size: .875em; // 14px
                filter: alpha( Opacity=50 );
                opacity: .5;

                &:hover {
                    filter: alpha( Opacity=100 );
                    opacity: 1;
                }
            }
        }
    } /* .container.hero */

    .container.body {
        header.wrapper {
            li {
                line-height: 1em;

                a {
                    color: #fff;
                    font-size: .875em; /* 14px */
                    font-weight: 600;
                    line-height: 1em;
                    filter: alpha( Opacity=50 );
                    opacity: .5;
                    padding: 1em .5em;
                    text-decoration: none;
                    text-transform: uppercase;
                }

                &.selected,
                &:hover {
                    a {
                        filter: alpha( Opacity=100 );
                        opacity: 1;
                    }
                }
            }
        }

        article.wrapper {
            header {
                h3 {
                    color: #3f454d;
                    font-size: 1em;
                    font-weight: 400;
                    line-height: 1em;
                }

                li {
                    line-height: 1em;

                    &.timestamp {
                        color: #bec3cc;
                        font-size: .875em; /* 14px */
                    }
                }
            }

            p {
                color: #70767f;
                font-size: .9375em; /* 15px */
                font-weight: 300;
                line-height: 1.6em; /* 24px */

                a {
                    color: #bec3cc;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            button.toggle {
                color: #bec3cc;
                font-size: .75em; // 12px
                font-weight: 300;
            }

            .respond {
                input {
                    font-size: .875em; // 14px
                    font-weight: 300;

                    input::-webkit-input-placeholder { // Chrome, Opera and Safari
                        color: $light-grey;
                    }

                    input::-moz-placeholder { // Firefox 19+
                        color: $light-grey;
                    }

                    input:-ms-input-placeholder { // IE 10+
                        color: $light-grey;
                    }

                    input:-moz-placeholder { // Firefox 18-
                        color: $light-grey;
                    }
                }
            }
        } /* END article.post */

        footer.wrapper {
            button.load {
                color: #bec3cc;
                font-size: .75em; /* 12px */
                font-weight: 400;
                text-transform: uppercase;
            }
        }
    } /* END .container.body */
} /* END main */

/* ******************************************
    Page Footer
****************************************** */
footer.container {
    color: #70767f;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;

    a,
    a:visited {
        color: $teal;
    }
}
