header.container {
    input.search {
        color: #666;
        font-family: $font-primary;
        font-size: 12px;
    }
}

main {
    .container.hero {
        // Style placeholder text for New Post box input
        input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #fff;
            opacity: .5;
        }

        input::-moz-placeholder { /* Firefox 19+ */
            color: #fff;
            opacity: .5;
        }

        input:-ms-input-placeholder { /* IE 10+ */
            color: #fff;
            opacity: .5;
        }

        input:-moz-placeholder { /* Firefox 18- */
            color: #fff;
            opacity: .5;
        }

        div.new-post {
            input {
                color: #fff;
                font-family: $font-primary;
                font-size: 1.875em; /* 30px */
                font-weight: 200;
            }

            button {
                color: rgba( 255, 255, 255, .5 );
                font-size: .875em; /* 14px */
            }
        }
    }

    .container.body {
        header.wrapper {
            li {
                line-height: 1em;

                a {
                    color: #fff;
                    font-size: .875em; /* 14px */
                    font-weight: 600;
                    line-height: 1em;
                    padding: 1em .5em;
                    text-decoration: none;
                    text-transform: uppercase;
                }
            }
        }
    }
}

/* ******************************************
    Page Footer
****************************************** */
footer.container {
    color: #70767f;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;

    a,
    a:visited {
        color: $teal;
    }
}
