<header class="container">
    <h2 class="visuallyhidden">Primary Navigation</h2>
    <nav class="wrapper group">
        <a href="/" class="logo" title="SimplySocial">SimplySocial</a>

        <section class="actions">
            <a href="#new" class="new" title="Create New Post">New Post</a>

            <h3 class="visuallyhidden">Search SimplySocial</h3>
            <form method="get" name="form-search" id="form-search">
                <input type="text" name="search" class="search" accesskey="s" />
            </form>

            <h3 class="visuallyhidden">Profile &amp; Settings</h3>
            <input type="checkbox" value="selected" id="profile-options" class="toggle-input">
            <label for="profile-options" class="toggle-label" onclick>
                <img src="assets/img/avatar-patrick.jpg" alt="Your Photo" class="avatar" />
            </label>

            <ul class="profile-menu">
                <li><a href="#">Profile</a></li>
                <li><a href="#">Followers</a></li>
                <li><a href="#">Following</a></li>
                <li><a href="#">Settings</a></li>
            </ul>
        </section>
    </nav>
</header>
