<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>SimplySocial</title>

    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="assets/css/style.css" />
</head>

<body>
    <header class="container">
        <h2 class="visuallyhidden">Primary Navigation</h2>
        <nav class="wrapper group">
            <a href="/" class="logo" title="SimplySocial">SimplySocial</a>

            <section class="actions">
                <a href="#new" class="new" title="Create New Post">New Post</a>

                <h3 class="visuallyhidden">Search SimplySocial</h3>
                <form method="get" name="form-search" id="form-search">
                    <input type="text" name="search" class="search" accesskey="s" />
                </form>

                <h3 class="visuallyhidden">Profile &amp; Settings</h3>
                <input type="checkbox" value="selected" id="profile-options" class="toggle-input">
                <label for="profile-options" class="toggle-label" onclick>
                    <img src="assets/img/avatar-patrick.jpg" alt="Your Photo" class="avatar" />
                </label>

                <ul class="profile-menu">
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Followers</a></li>
                    <li><a href="#">Following</a></li>
                    <li><a href="#">Settings</a></li>
                </ul>
            </section>
        </nav>
    </header>

    <main>
        <section class="container hero">
            <h1 class="visuallyhidden">Home</h1>
            <img src="assets/img/hero-vw-bus.jpg" alt="VW Bus" />

            <div class="new-post wrapper">
                <h2 class="visuallyhidden">Create New Post</h2>
                <form method="post" name="form-post">
                    <input type="text" name="post" id="input-post" placeholder="What&#8217;s on your mind?" accesskey="p" autofocus />
                    <button class="add-photo">Add Photo</button>
                    <button class="add-video">Add Video</button>
                </form>
            <div>
        </section>

        <section class="container body">
            <header class="wrapper">
                <h2 class="visuallyhidden">Filter Posts</h2>
                <ul class="filters">
                    <li class="selected">
                        <a href="#all">All Posts</a>
                    </li>
                    <li>
                        <a href="#photos">Photos</a>
                    </li>
                    <li>
                        <a href="#videos">Videos</a>
                    </li>
                </ul>

                <h2 class="visuallyhidden">Layout Options</h2>
                <ul class="views">
                    <li class="selected list">
                        <a href="#list" title="List View">List View</a>
                    </li>
                    <li class="grid">
                        <a href="#grid" title="Grid View">Grid View</a>
                    </li>
                </ul>
            </header>

            <div class="posts">
                <h2 class="visuallyhidden">Latest Posts</h2>

                <article class="wrapper">
                    <div class="panel">
                        <section class="post">
                            <header class="group">
                                <img src="assets/img/avatar-sam.jpg" alt="Photo of Sam Soffes" />
                                <h3>Sam Soffes</h3>
                                <h4 class="visuallyhidden">Actions</h4>
                                <ul>
                                    <li><button class="reply">Reply</button></li>
                                    <li><button class="like">Like</button></li>
                                    <li class="timestamp" title="3 minutes ago">3m</li>
                                </ul>
                            </header>
                            <div class="content">
                                <p>
                                    How to Get Inspired: the Right Way - Designmodo <a href="#">bit.ly/1lE4uJc</a> Good stuff from <a href="#">@designmodo</a>!
                                </p>
                            </div>
                        </section>

                        <input type="checkbox" value="selected" id="post1-comments" class="toggle-input">
                        <label for="post1-comments" class="toggle-label" onclick>&nbsp;</label>

                        <section class="comments">
                            <div class="comment" id="comment1">
                                <header class="group">
                                    <img src="assets/img/avatar-jed.jpg" alt="Photo of Jed Bridges" />
                                    <h3>Jed Bridges</h3>
                                    <h4 class="visuallyhidden">Actions</h4>
                                    <ul>
                                        <li><button class="reply">Reply</button></li>
                                        <li><button class="like">Like</button></li>
                                        <li class="timestamp" title="1 hour ago">1h</li>
                                    </ul>
                                </header>
                                <div class="content">
                                    <p>
                                        Great way to start the week. Thanks for sharing!
                                    </p>
                                </div>
                            </div>

                            <div class="comment" id="comment2">
                                <header class="group">
                                    <img src="assets/img/avatar-ren.jpg" alt="Photo of Ren Walker" />
                                    <h3>Ren Walker</h3>
                                    <h4 class="visuallyhidden">Actions</h4>
                                    <ul>
                                        <li><button class="reply">Reply</button></li>
                                        <li><button class="like">Like</button></li>
                                        <li class="timestamp" title="1 hour ago">1h</li>
                                    </ul>
                                </header>
                                <div class="content">
                                    <p>
                                        Feeling inspired now... thanks for the great article <a href="#">@designmodo</a>
                                    </p>
                                </div>
                            </div>

                            <div class="respond">
                                <form method="post" action="comment.html" id="respond">
                                    <input type="text" name="response" id="response" placeholder="Reply..." />
                                </form>
                            </div>
                        </section>
                    </div>
                </article>

                <article class="wrapper media">
                    <div class="panel">
                        <section class="post">
                            <header class="group">
                                <img src="assets/img/avatar-meg.jpg" alt="Photo of Meg Robichaud" />
                                <h3>Meg Robichaud</h3>
                                <h4 class="visuallyhidden">Actions</h4>
                                <ul>
                                    <li><button class="reply">Reply</button></li>
                                    <li><button class="like">Like</button></li>
                                    <li class="timestamp" title="25 minutes ago">25m</li>
                                </ul>
                            </header>
                            <div class="content">
                                <p>
                                    My view this morning is simply beautiful... <a href="#">instagram.com/p/mV0PUrHRwQ/</a>
                                </p>
                                <img class="photo" src="assets/img/photo-ocean.jpg" alt="Photo from Instagram" />
                            </div>
                        </section>
                    </div>
                </article>
            </div>

            <footer class="wrapper">
                <button class="load" title="Load More Posts">Load More</button>
            </footer>
        </section>
    </main>

    <footer class="container">
        <section class="wrapper">
            <h2 class="visuallyhidden">About SimplySocial</h2>
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Support</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Terms</a></li>
            </ul>
            <p>
                &copy;2016 SimplySocial
            </p>
        </section>

        <a href="#close" class="close" title="Close Window">
            <div class="modal" id="new">
                <article>
                    <h3>Create New Message</h3>
                    <form method="post" name="form-post">
                        <textarea id="post-text" name="post-text"></textarea>
                        <button class="add-photo">Add Photo</button>
                        <button class="add-video">Add Video</button>
                        <input type="submit" name="submit" value="Post" />
                    </form>
                </article>
            </div>
        </a>
    </footer>
</body>
</html>
