<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>SimplySocial</title>

    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="assets/css/style.css" />
</head>

<body class="profile-page">
    {{> header}}

    <main>
        <section class="container hero">
            <h1 class="visuallyhidden">Home</h1>
            <img src="assets/img/hero-vw-bus.jpg" alt="VW Bus" class="bg" />

            <div class="profile-info wrapper">
                <h2 class="visuallyhidden">Profile Information</h2>
                <img src="assets/img/avatar-patrick-large.jpg" alt="Photo of Patrick Haney" title="Patrick Haney" />
                <h3>Patrick Haney</h3>
                <h4>Designer and developer living in Rochester, NY</h4>
                <h5><a href="http://patrickhaney.com">patrickhaney.com</a></h5>
            <div>
        </section>

        <section class="container body">
            <header class="wrapper">
                <h2 class="visuallyhidden">Filter Posts</h2>
                <ul class="filters">
                    <li class="selected">
                        <a href="#all">Patrick&#8217;s Feed</a>
                    </li>
                    <li>
                        <a href="#followers">2,542 Followers</a>
                    </li>
                    <li>
                        <a href="#following">517 Following</a>
                    </li>
                </ul>
            </header>

            <div class="posts">
                <h2 class="visuallyhidden">Latest Posts</h2>

                <article class="wrapper">
                    <div class="panel">
                        <section class="post">
                            <header class="group">
                                <img src="assets/img/avatar-patrick.jpg" alt="Photo of Patrick Haney" />
                                <h3>Patrick Haney</h3>
                                <h4 class="visuallyhidden">Actions</h4>
                                <ul>
                                    <li><button class="reply">Reply</button></li>
                                    <li><button class="like">Like</button></li>
                                    <li class="timestamp" title="3 minutes ago">3m</li>
                                </ul>
                            </header>
                            <div class="content">
                                <p>
                                    How to Get Inspired: the Right Way - Designmodo <a href="#">bit.ly/1lE4uJc</a> Good stuff from <a href="#">@designmodo</a>!
                                </p>
                            </div>
                        </section>

                        <input type="checkbox" value="selected" id="post1-comments" class="toggle-input">
                        <label for="post1-comments" class="toggle-label" onclick>&nbsp;</label>

                        <section class="comments">
                            <div class="comment" id="comment1">
                                <header class="group">
                                    <img src="assets/img/avatar-jed.jpg" alt="Photo of Jed Bridges" />
                                    <h3>Jed Bridges</h3>
                                    <h4 class="visuallyhidden">Actions</h4>
                                    <ul>
                                        <li><button class="reply">Reply</button></li>
                                        <li><button class="like">Like</button></li>
                                        <li class="timestamp" title="1 hour ago">1h</li>
                                    </ul>
                                </header>
                                <div class="content">
                                    <p>
                                        Great way to start the week. Thanks for sharing!
                                    </p>
                                </div>
                            </div>

                            <div class="comment" id="comment2">
                                <header class="group">
                                    <img src="assets/img/avatar-ren.jpg" alt="Photo of Ren Walker" />
                                    <h3>Ren Walker</h3>
                                    <h4 class="visuallyhidden">Actions</h4>
                                    <ul>
                                        <li><button class="reply">Reply</button></li>
                                        <li><button class="like">Like</button></li>
                                        <li class="timestamp" title="1 hour ago">1h</li>
                                    </ul>
                                </header>
                                <div class="content">
                                    <p>
                                        Feeling inspired now... thanks for the great article <a href="#">@designmodo</a>
                                    </p>
                                </div>
                            </div>

                            <div class="respond">
                                <form method="post" action="comment.html" id="respond">
                                    <input type="text" name="response" id="response" placeholder="Reply..." />
                                </form>
                            </div>
                        </section>
                    </div>
                </article>

                <article class="wrapper media">
                    <div class="panel">
                        <section class="post">
                            <header class="group">
                                <img src="assets/img/avatar-patrick.jpg" alt="Photo of Patrick Haney" />
                                <h3>Patrick Haney</h3>
                                <h4 class="visuallyhidden">Actions</h4>
                                <ul>
                                    <li><button class="reply">Reply</button></li>
                                    <li><button class="like">Like</button></li>
                                    <li class="timestamp" title="25 minutes ago">25m</li>
                                </ul>
                            </header>
                            <div class="content">
                                <p>
                                    My view this morning is simply beautiful... <a href="#">instagram.com/p/mV0PUrHRwQ/</a>
                                </p>
                                <img class="photo" src="assets/img/photo-ocean.jpg" alt="Photo from Instagram" />
                            </div>
                        </section>
                    </div>
                </article>
            </div>

            <footer class="wrapper">
                <button class="load" title="Load More Posts">Load More</button>
            </footer>
        </section>
    </main>

    {{> footer}}
</body>
</html>
